<div class="form-group">
  <div class="input-wrapper">
    <input
      id="<%= id %>"
      type="<%= type %>"
      name="<%= name %>"
      value="<%= value %>"
    />
    <label for="<%= id %>"><%= label %></label>
  </div>

  <p class="form-group__validation"></p>
</div>
