<%- include('./components/page-wrapper-start', { title: 'Authorization | Web-messanger' }) -%>

<main>
  <section class="authorization">
    <div class="container">
      <h2>Вход</h2>

      <form
        id="authorization"
        class="authorization__form"
        action=""
        method="post"
      >
        <!-- form-loader -->
        <%- include('./components/form-loader') -%>

        <!-- login -->
        <%- include('./components/form-group', {
          label: 'Логин',
          id: 'authorization__login',
          type: 'text',
          name: 'login',
          value: 'ivanivanov',
        }) -%>

        <!-- password -->
        <%- include('./components/form-group', {
          label: 'Пароль',
          id: 'authorization__password',
          type: 'password',
          name: 'password',
          value: 'ivanivanov',
        }) -%>

        <!-- controls -->
        <div class="form-controls">
          <%-include('./components/button', { text: 'Авторизоваться' }) -%>

          <a href="registration.ejs">Нет аккаунта?</a>
        </div>
      </form>

    </div>
  </section>
</main>

<script type="module" src="../js/authorization.js"></script>

<%- include('./components/page-wrapper-end') -%>
