<%- include('./components/page-wrapper-start', { title: 'Change password | Web-messanger' }) -%>

<%- include('./components/go-back-button', { link: 'user-settings.ejs' }) -%>

<main>
  <section class="change-password">
    <div class="container">
      <!-- top -->
      <div class="change-password__top">
        <div class="change-password__avatar"></div>
        <div class="change-password__user-name">Иван</div>
      </div>

      <form class="change-password__form" id="change-password" action="" method="post">
        <%- include('./components/form-loader') -%>

        <!-- oldPassword -->
        <%- include('./components/form-group', {
          label: 'Старый пароль',
          id: 'change-password__oldPassword',
          type: 'password',
          name: 'oldPassword',
          value: '',
        }) -%>

        <!-- newPassword -->
        <%- include('./components/form-group', {
          label: 'Новый пароль',
          id: 'change-password__newPassword',
          type: 'password',
          name: 'newPassword',
          value: '',
        }) -%>

        <!-- newPassword-repeant -->
        <%- include('./components/form-group', {
          label: 'Повторите новый пароль',
          id: 'change-password__newPassword-repeant',
          type: 'password',
          name: 'newPassword-repeant',
          value: '',
        }) -%>

        <!-- controls -->
        <div class="form-controls">
          <%- include('./components/button', { text: 'Сохранить', type: 'submit'}) -%>
        </div>
      </form>
    </div>
  </section>
</main>

<script type="module" src="../js/change-password.js"></script>

<%- include('./components/page-wrapper-end') -%>
