<%- include('./components/page-wrapper-start', { title: 'Chat | Web-messanger' }) -%>

<div class="chat">
  <!-- chat-aside -->
  <%- include('./components/chat-aside') -%>

  <main>
    <!-- chat-header -->
    <%- include('./components/chat-header') -%>

    <!-- chat-content -->
    <div class="chat-content">
      Chat content here
    </div>

    <!-- chat-footer -->
    <%- include('./components/chat-footer') -%>
  </main>
</div>

<%- include('./components/page-wrapper-end') -%>
