<%- include('./components/page-wrapper-start', { title: 'Registration | Web-messanger' }) -%>

<main>
  <section class="registration">
    <div class="container">
      <h2>Регистрация</h2>

      <form id="registration" class="registration__form" action="" method="post">
        <!-- form-loader -->
        <%- include('./components/form-loader') -%>

        <!-- email -->
        <%- include('./components/form-group', {
          label: 'Почта',
          id: 'registration__email',
          type: 'email',
          name: 'email',
          value: 'pochta@yandex.ru',
        }) -%>

        <!-- login -->
        <%- include('./components/form-group', {
          label: 'Логин',
          id: 'registration__login',
          type: 'text',
          name: 'login',
          value: 'ivanivanov',
        }) -%>

        <!-- first_name -->
        <%- include('./components/form-group', {
          label: 'Имя',
          id: 'registration__first-name',
          type: 'text',
          name: 'first_name',
          value: 'Иван',
        }) -%>

        <!-- second_name -->
        <%- include('./components/form-group', {
          label: 'Фамилия',
          id: 'registration__second-name',
          type: 'text',
          name: 'second_name',
          value: 'Иванов',
        }) -%>

        <!-- phone -->
        <%- include('./components/form-group', {
          label: 'Телефон',
          id: 'registration__phone',
          type: 'text',
          name: 'phone',
          value: '+7 (909) 967 30 30',
        }) -%>

        <!-- password -->
        <%- include('./components/form-group', {
          label: 'Пароль',
          id: 'registration__password',
          type: 'password',
          name: 'password',
          value: 'ivanivanov',
        }) -%>

        <!-- password-repeat -->
        <%- include('./components/form-group', {
          label: 'Пароль (ещё раз)',
          id: 'registration__password-repeat',
          type: 'password',
          name: 'password-repeat',
          value: 'ivanivanov',
        }) -%>

        <!-- controls -->
        <div class="form-controls">
          <%- include('./components/button', { text: 'Зарегистрироваться', type: 'submit', statusClass: 'bg-primary' }) -%>
          <a href="authorization.ejs">Войти</a>
        </div>
      </form>
    </div>
  </section>
</main>

<script type="module" src="../js/registration.ts"></script>

<%- include('./components/page-wrapper-end') -%>
